@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
    background: linear-gradient(thistle, teal);
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    padding: 30px;
    width: 60%;
    max-width: 500px;
}

header, section, article {
    text-align: center;
}

.wells {
    display: flex;
    justify-content: center;
}

article {
    border-radius: 10px;
    background: thistle;
    min-width: 80px;
    padding: 3px;
    margin: 5px;
}



/* ////////// Text Styles ///////// */

h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40pt;
    line-height: 35pt;
    color: teal;
    margin-bottom: 5px;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    color: #999;
}

h3 {
    text-transform: uppercase;
    color: teal;
    margin-bottom: 5px;

}

h4 {
    text-transform: uppercase;
    color: thistle;
    font-weight: normal;
}

.number {
    color: white;
    font-size: 20pt;
    font-weight: 800;
}

input {
    border: 1px solid thistle;
    font-size: 12pt;
    color: #bbb;
    width: 20%;
    margin: 5px;
    text-align: center;
}

/* ////////// Mobile Styles ///////// */

@media screen and (max-width: 769px) {

    h1 {
        font-size: 25pt;
        line-height: 20pt;
    }
    
    h2 {
        font-size: 10pt;
    }
    
    .number {
        font-size: 15pt;
    }

}
